#!/usr/bin/env sh

# from https://medium.com/swlh/deploy-vue-app-to-github-pages-2ada48d7397e
# GIT Username
GIT_USER="your_username"
PROJECT_NAME=$(cat package.json | grep name | awk -F '"' '{print $4}')
# abort on errors
set -e

if ! [ -x "$(command -v npm)" ]; then
    echo 'Error: npm is not installed.' >&2
    exit 1
fi

if ! [ -x "$(command -v git)" ]; then
    echo 'Error: git is not installed.' >&2
    exit 1
fi

if ! [ -d "node_modules" ]; then
    npm install
fi

# build
npm run build
# navigate into the build output directory
cd dist
# if you are deploying to a custom domain
# echo 'www.example.com' > CNAME
git init
git add -A
git commit -m 'deploy'
git push -f git@github.com:"$GIT_USER"/"$PROJECT_NAME".git main:gh-pages
cd -